.box {
    display: flex;
    flex-direction: column;
}

.menu-mobile-box {
    padding: 1em;
    background-color: #607D8B;
    color: #fff;
}

.menu-title {
    float: right;
    margin: 0;
    font-size: 1.5em;
    font-weight: lighter;
}

@media (min-width: 1300px) {
    .menu-mobile-box {
        display: none;
    } 

    .content-login {
        width: 100%;
        margin-left: 0;
    }

    .content {
        display: inline-block;
        width: 100%;
        margin-left: 20%;
    }
}